# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
*.pyc

# Distribution / packaging
*.egg-info/
dist/
build/

# Virtual environment
.venv/
venv/
env/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# IDE
.vscode/
.idea/

# macOS
.DS_Store

# Logs
*.log

# Large datasets & local artifacts
*.csv
.freebuff/
Backend/data/
Dataset/
Backend/models/*.pkl
reports/
